@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'dana-regular';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../src/fonts/DanaFaNum-Regular.ttf) format('truetype');
    }
    @font-face {
      font-family: 'dana-black';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../src/fonts/DanaFaNum-Black.ttf) format('truetype');
    }
    @font-face {
      font-family: 'dana-bold';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../src/fonts/DanaFaNum-Bold.ttf) format('truetype');
    }
    @font-face {
      font-family: 'dana-light';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../src/fonts/DanaFaNum-Light.ttf) format('truetype');
    }
    @font-face {
      font-family: 'dana';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../src/fonts/DanaFaNum-Medium.ttf) format('truetype');
    }


    @font-face {
        font-family: 'peydasemibold';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../src/fonts/PeydaFaNum-SemiBold.ttf) format('truetype');
      }
    @font-face {
        font-family: 'peydabold';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../src/fonts/PeydaFaNum-Bold.ttf) format('truetype');
      }
    @font-face {
        font-family: 'peydamd';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../src/fonts/PeydaFaNum-Medium.ttf) format('truetype');
      }
    @font-face {
        font-family: 'peydalight';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../src/fonts/PeydaFaNum-Light.ttf) format('truetype');
      }
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button{
    @apply appearance-none;
    margin: 0;
  }

  .no-spinner{
    -moz-appearance: textfield;
  }
}
